@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #23252c;
}

.container {
    height: 900px;
    margin-bottom: 30px;
}

.info--photo {
    background: url("../images/profile-pic.jpg");
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    height: 317px;
    left: 116px;
    object-fit: scale-down;
    position: absolute;
    top: 44px;
    width: 317px;
}

.textSection {
    position: absolute;
    width: 317px;
    height: 480px;
    left: 116px;
    top: 361px;
    background: #1A1B21;
    padding-left: 34px;
    padding-right: 34px;
}

.info--text {
    
}

.info--name {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.info--title {
    color: #F3BF99;
    font-family: 'Inter';
    font-size: 12.8px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

.info--url {
    color: #F5F5F5;
    font-family: 'Inter';
    font-size: 10.24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.info--url  > a:link,
.info--url > a:visited {
    color: #F5F5F5;
    text-decoration: none;
}

.buttonrow {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.button--email, .button--linkedin {
    align-items:center;
	border-radius:6px;
    display:flex;
	flex-direction:row;
	font-family:'Inter';
	font-size:14px;
	font-style:normal;
	font-weight:500;
	gap:8px;
	height:34px;
	justify-content:center;
	line-height:16px;
    margin: 4px;
	padding:9px 13px 9px 11px;
	width:115px;
}

.button--email
{
	background:#FFF;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	color:#374151;
}

.button--linkedin
{
	background:#5093E2;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	color:#FFF;
}

.text--title {
    color: #F5F5F5;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.text--body {
    color: #DCDCDC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
}

.social {
    align-items: center;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    position: absolute;
    height: 64px;
    justify-content: center;
    left: 116px;
    margin-bottom: 20px;
    top: 830px;
    width: 317px;
}

.social--icon {
    height: 25px;
    margin: 15px;
    width: 25px;
}